$grid-item-height : 245px;
$mapHeight : 540px;

.home-map {
    text-align: right;
    background:#222222;
    min-height: $mapHeight;
    max-height: none !important;


    .countryLabel {
        background: none;
        color: #fff;
        text-transform: uppercase;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 11px;
        box-shadow: none;
        margin-left: -20px !important;
        margin-top: -20px !important;
    }

    .map-videos {
        display: block;
        width: 100%;
        z-index: 20;

        @include mq(tablet){
          width: 44%;
          display: inline-block;
        }

        text-align:left;
        /*background: rgba(0, 0, 0, 1);*/
        background:rgba(10, 10, 44, 1);
        min-height: $mapHeight;
        padding-top: 25px;
        padding-left: 20px;

        .video-item {
            width: 46%;
            margin: 1%;
            display: inline-block;

            .item {
                height:$grid-item-height;
                z-index:0;
                padding-right:0;
                padding-left:0;
                cursor:p;

                .flip-container.disabled {

                  overflow:hidden;
                  cursor:pointer;
                  pointer-events:none;

                  &:after{
                    content:'À débloquer';
                    position:absolute;
                    top:100px;
                    left:-25%;
                    width:150%;
                    height:27px;
                    color:#fff;
                    background-color:$brand-color-2;
                    @include font(19,27,100);
                    text-transform:uppercase;
                    @include rotate(-17deg);
                  }

                  .flip-container:hover{
                    transform: none;
                  }

                  .background-hover{
                    background-color:$brand-themes-disabled;
                    opacity:0.85;
                  }

                }

                .background-hover{
                  display:block;
                  position:absolute;
                  left:0px;
                  width:100%;
                  height:40%;
                  bottom:0px;
                  z-index:20;
                  background-color:$brand-themes-hover;
                  opacity:0.5;
                  background-position: center;
                }

                .flip-container.selected {
                  .background-hover{
                    background-color:$brand-themes-selected;
                  }

                  .background-hover-turn{
                    background-color:$brand-themes-selected;
                  }
                }

                .background-hover-turn{
                  display:block;
                  position:absolute;
                  top:0px;
                  left:0px;
                  width:100%;
                  height:100%;
                  z-index:20;
                  background-color:$brand-color-3-hover-flipper;
                  opacity:0.75;
                  background-position: center;
                }

                .background-image{
                  z-index:10;
                  top:0px;
                  height: 100%;
                  background-position: center;
                }

                .icon{
                  display:block;
                  position:absolute;
                  z-index:30;
                  top:0px;
                  left:0px;
                  width:100%;
                  height:60%;
                  display:table;

                  .icon-container{
                    display:table-cell;
                    vertical-align:middle;
                    height:100%;

                    i {
                      color:#fff;
                      @include font(50,50,100);
                    }

                  }
                }

                .grid-item-content{
                  display:block;
                  position:absolute;
                  bottom:0px;
                  left:0px;
                  width:100%;
                  z-index:30;
                  color:#fff;
                  height:100px;
                  display:table;

                  h3{
                    display:table-cell;
                    vertical-align: middle;

                    @include font(16,18,700);
                    padding: 0 20px;
                    text-transform: capitalize;

                    i{
                      color:#fff;
                      @include font(30,38,100);
                      display:block;
                    }
                  }

                  hr{
                    width:117px;
                    margin-bottom:36px;
                    margin-top:6px;
                  }

                }

                .grid-item-content-turn{
                  display:block;
                  position:absolute;
                  top:0px;
                  left:0px;
                  width:100%;
                  height:100%;
                  z-index:30;
                  color:#fff;
                  padding:15px 20px 60px;

                  h4{
                    @include font(20,20,700);
                    padding-bottom:5px;
                  }

                  p{
                    @include font(13,16,400);
                    font-style:normal;
                    color:#fff;
                  }

                  .button-container{
                    position:absolute;
                    bottom:26px;
                    padding:0 40px;
                    left:0px;
                    width:100%;

                    .btn-primary{
                      width:100%;
                      min-width:auto;
                      @include font(16,18,700);
                      padding:10px;
                      background-color:$brand-themes-button;
                      border-radius: 0px;
                    }
                  }

                }

            }
        }
    }


    #map {
        background-color: #000;
        width: 100%;
        height: $mapHeight;
        position: relative;
        z-index: 0;

        @include mq(tablet){
          position: absolute;
          height: 100%;
        }

        .leaflet-pane.leaflet-tile-pane{
          opacity: 0.4;
        }
    }


    #map-legends {

      position:absolute;
      top: 471px;
      left: 20px;
      max-width: 100vw;
      text-align:left;

      @include mq(tablet){
        max-width: 52vw;
      }

      .map-legend {
        display: inline-block;
        padding-left:26px;
        padding-right:10px;
        margin-right:8px;
        height:28px;
        @include round(9px);
        margin-bottom: 5px;
      }

      .icon {
        position: absolute;
        top:3px;
        left:6px;
      }

      .label {
        color:#fff;
        @include font(12,27,500);
      }


    }
}

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

.spinner{
  position: absolute;
  top: 140px;
  left: 45vw;
  z-index: 20;
  opacity: 1;

  @include mq(tablet){
    left: 27vw;
    top: 32%;
  }
}
