@charset "utf-8";
/* CSS Document */


/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600|Raleway:300,400,500,600,700&display=swap');
body {
	font-family: 'Raleway', sans-serif;
}
.block-2 p, .user-content .fiche-produit-content p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	font-style:normal;
}
h1, h2, h3 {
	font-family: 'Exo 2', sans-serif;
}
.block-2 {
	padding: 60px 10px;
	padding-bottom: 10px;
	line-height: 42px;
}
.block-2 h2 {
	color: #000000;
	text-transform:uppercase;
	text-decoration: underline #F71735;
	text-underline-position: under;
}
/* RED COLOR MOVES TO #D6001B */
.btn-rouge {
	background-color: #D6001B!important;
}
 @media (max-width: 767px) {
.seprator {
display:none;
}
}
/* HEADER & NAV */

header > div:first-child {
	box-shadow: 0px 3px 6px #00000029;
	z-index: 99;
}
header nav ul.right .search-form, .mobile-menu ul .search-form {
	width: auto;
	border: none;
	margin-top:8px;
}
header nav ul.right .search-form .search-input, .mobile-menu ul .search-form .search-input {
	width: 170px;
	line-height: 33px;
	padding: 0;
	padding-left: 6px;
	border: 2px solid #D6001B;
	border-right: 0;
}
header nav ul.right .search-form .search-submit, .mobile-menu ul .search-form .search-submit {
	line-height: 33px;
	background-color: #D6001B!important;
	border: 2px solid #D6001B;
	padding: 0 9px;
	font-weight: bold;
	border-left: 0;
}
header nav ul.right .search-form .search-submit:hover {
	color:black;
}
 @media (min-width: 1399px) {
 header nav {
 height: 135px;
 max-width: 1040px;
 margin: 0 auto;
 text-align: left;
}
 header nav .logo {
 display: inline-block;
 position: relative;
 top: 18px;
 right: 18px;
 margin: 0px 25px 0 -165px;
}

/* HACK LOGO SWAP, PLEASE CHANGE THE FILE ALL TOGETHER */
 header .logo a {
 background:url(https://talentid.es/ggn/ggn_logo-white.png);
 height: 93px;
 width: 140px;
 background-position:left top;
 background-repeat: no-repeat;
 background-size:contain;
}
 header .logo img {
display: none;
}

/* END HACKS */
 header nav ul:first-child {
 padding-left: 0;
 margin-top: 76px;
}
 header .desktop-nav {
 display: inline-block;
 width: auto;
 float: none;
 position:absolute;
}
 header nav ul.right {
 float: right;
 padding-left: 0;
 min-width: 600px;
 text-align: right;
 position: absolute;
 right: 0;
 top: 10px;
}
header nav ul.right li a {
 padding: 8px 12px 6px;
}
header nav ul.right .search-form {
 width: auto;
 border: none;
 margin-top:8px;
}
 header nav ul.right .search-form .search-input {
 width: 170px;
 line-height: 33px;
 padding: 0;
 padding-left: 6px;
 border: 2px solid #D6001B;
 border-right: 0;
}
 header nav ul.right .search-form .search-submit {
 line-height: 33px;
 background-color: #D6001B!important;
 border: 2px solid #D6001B;
 padding: 0 9px;
 font-weight: bold;
 border-left: 0;
}
 header nav ul.right .search-form .search-submit:hover {
color:black;
}

	/* HACKS, PLEASE REMOVE INLINE STYLES */
 header nav ul.right li {
 line-height: inherit!important;
}
	/* END HACKS */
	
 header nav ul.right li {
 padding: 8px 0 6px 15px;
}
 header nav ul li {
 display: inline-block;
 padding: 10px 4px 0px 0px;
}
header nav ul li a {
 font-size: 14px;
 font-weight: 600;
}
header nav ul li:first-child a {
 padding-left:0;
}
header .desktop-nav ul:first-child li:last-child a {
 margin-right:0;
 padding: 6px 11px 3px 11px;
 background-color: #D6001B;
 margin-top: 2px;
 border-radius: 100%;
}
 header nav ul:first-child li:last-child a i {
 color: white!important;
 font-size: 20px!important;
}
 .login-buttons a {
 display: inline-block!important;
 width:auto!important;
 margin-right:4px;
}
 header nav ul li.login-buttons a.btn-left, header nav ul li.login-buttons a.btn-right {
 font-weight: 800;
 padding: 9px 12px 28px;
}
 header nav ul li.login-buttons a.btn-left {
background-color:#D6001B;
}
header nav ul li.login-buttons a.btn-left:hover {
background-color:#FFF;
color:#D6001B;
}
header nav ul li.login-buttons a.btn-right:hover {
background-color:#FFF;
color:#9f9f9f;
}
}
 @media (max-width: 1398px) {
header nav .logo a img {
 display: none;
}
header nav {
 text-align: center;
}
header nav .logo {
 width:100%;
}
header nav .logo a {
 background: url(https://talentid.es/ggn/ggn_logo_horizontal.png);
 height: 33px;
 width: 190px;
 background-position: left top;
 background-repeat: no-repeat;
 background-size: contain;
 margin: 14px 20px 12px;
}
header .mobile-nav {
 z-index: 99;
}
.mobile-menu ul li {
 padding: 7px;
}
 .mobile-menu ul li a {
 font-size: 24px;
 font-family: "exo 2", sans-serif;
}
.mobile-menu ul li.login-buttons {
 display:block;
 padding-top: 0px;
 width: 100%;
 max-width: 260px;
 margin: 0 auto;
}
.mobile-menu ul li.login-buttons a {
 border-radius: 0;
 width:50%;
 display:inline-block;
 margin:0 0;
}
.mobile-nav > ul > li > a {
 font-size: 28px;
 line-height: 28px;
 padding: 6px 10px;
 margin-right: 5px;
}
.mobile-menu ul li.login-buttons a.btn-left, .mobile-menu ul li.login-buttons a.btn-right {
 -webkit-border-top-left-radius: 0;
 -webkit-border-bottom-left-radius: 0;
 -moz-border-radius-topleft: 0;
 -moz-border-radius-bottomleft: 0;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 -webkit-border-top-right-radius: 0;
 -webkit-border-bottom-right-radius: 0;
 -moz-border-radius-topright: 0;
 -moz-border-radius-bottomright: 0;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 font-weight: 600;
 padding: 5px 0 10px;
}

/* MOBILE SEARCH-SUBMIT SPACE HACK */
.mobile-menu ul .search-form .search-submit {
 margin: 0 0 0 -3px;
}
/* END HACK */

}
/* HACKS - PLEASE REMOVE CONFLICTING CLASSES IN SOURCE CODE */

.bg-black {
	background-color:#FFF;
}
.bg-black span.text-blanc {
	color: #000000;
}

/* END HACKS */

@media (min-width: 52.85714286em) {
.block-2 h2 {
 font-size: 30px;
 margin-bottom:10px;
 line-height: 42px;
 padding: 0 5px;
}
}
 @media (max-width: 767px) {
 .block-2 h2 {
 line-height:42px;
 margin-bottom:15px;
}
.block-2 {
 padding: 10px 5px;
}
}
/* ARTICLES */

.breadcrumbs-container {
	background-color:#EDEDED;
}
.breadcrumbs-container .breadcrumb {
	padding: 15px 0;
	margin-top: 0;
}
.breadcrumbs-container .breadcrumb li, .breadcrumbs-container .breadcrumb li a {
	color: #414141;
	font-size: 13px;
	line-height: 20px;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
}
.breadcrumbs-container .breadcrumb li a {
	font-weight: 600;
}
.search .item .content .link {
	color: #D6001B;
	font-weight: 700;
}
 .search .item .content .link::after {
 content: " »";
}
.fiche-produit-content {
	padding-top: 50px;
}
.user-content .fiche-produit-content .col-sm-2 {
	font: Regular 14px/20px Raleway;
	letter-spacing: 0;
	color: #000000;
}
.video-js {
	max-width: 98%;
	height: auto;
	margin: 1%;
}
header .header-content {
	width: 100%;
}
.page-country .nav ul li {
	margin: 0 15px;
	display: inline-block;
}
header.default .title h1 {
	font-size: 45px;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: underline;
	text-underline-position: under;
}
header.default .title hr {
	display:none;
}
 @media (max-width: 1398px) {
.horizontal-inner-container {
 padding: 0 20px;
}
}
 @media (max-width: 767px) {
header.default .background-image, header.default .fiche-produits-list .grid-item .background-hover, .fiche-produits-list .grid-item header.default .background-hover {
 top: 60px;
}
 .user-content .fiche-produit-content .col-sm-2:first-line {
 text-transform:uppercase;
 color:#D6001B;
 font-weight:700;
}
 .user-content .fiche-produit-content .col-sm-2 img {
 display:none;
}
.user-content .fiche-produit-content {
 padding:  20px 0;
}
}
.user-content .fiche-produit-content .col {
	padding:0 10px;
}
/* HACKS, PLEASE JUST REMOVE THE CLASS */	
.user-content .fiche-produit-content .row > div.text-center, .user-content .fiche-produit-content p {
	text-align:left!important;
}
/* END HACKS */
	
.user-content .fiche-produit-content .row > div .img-circle {
	border-radius: 0;
}
.user-content .fiche-produit-content h1 {
	color: #000000;
	text-transform: uppercase;
	text-decoration: underline #F71735;
	text-underline-position: under;
	padding-bottom: 20px;
	margin: 6px 0 0 -15px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 600;
}
 .user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(2) {
 margin-bottom:5px;
}
 .user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(3), .user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(4) {
 margin-bottom:20px;
}
 .user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(3) div > img, .user-content .fiche-produit-content .row div:nth-child(2) .row:last-child div > img {
 display: block;
 max-width: 98%;
 height: auto;
 box-shadow: 9px 9px 0px #D6D6D6;
 margin-bottom: 15px;
}
.user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(3) div > div, .user-content .fiche-produit-content .row div:nth-child(2) .row:last-child div > div {
 display: block;
 max-width: 98%;
 padding-left: 2%;
 font: Italic 13px/21px Raleway;
 letter-spacing: 0;
 color: #454545;
}
 @media (max-width: 767px) {
.breadcrumbs-container {
 padding: 0 15px;
}
.user-content .fiche-produit-content h1 {
 padding-left: 15px;
}
.user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(2) {
 margin-bottom: 15px;
 padding-left: 15px;
}
}
 @media (min-width: 1070px) {
.user-content .fiche-produit-content .col p {
 width:75%;
}
}
 @media (min-width: 768px) {
.user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(3) div > img, .user-content .fiche-produit-content .row div:nth-child(2) .row:last-child div > img {
 display: inline-block;
 max-width: 73%;
}
.user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(3) div > div, .user-content .fiche-produit-content .row div:nth-child(2) .row:last-child div > div {
 display: inline-block;
 max-width: 25%;
}
}

/* HACKS, PLEASE JUST REMOVE THE CLASS */		
.user-content .fiche-produit-content .row div:nth-child(2) .row:nth-child(3) div > div.text-right, .user-content .fiche-produit-content .row div:nth-child(2) .row:last-child div > div.text-right {
 text-align: left;
}
/* END HACKS */	

.seprator.bg-black {
	display:none;
}
/* FLIP ELEMENTS */

.flip-container, .front, .back {
	height: 210px;
}
.front, .back {
	box-shadow: 0px 3px 6px #00000029;
}
.content-slider .item {
	height: 320px;
	padding: 0 5px;
}
.horizontal-inner-container .grid-item.col-md-3 {
	height: 360px;
	padding: 0 5px;
}
.flip-container .front .background-hover {
	display: none;
}
.content-slider .item .grid-item-content, .block-2 .grid-item .grid-item-content, .page-country .grid-item .grid-item-content {
	top: 210px;
	display: block;
}
.content-container.search .flip-container .front .grid-item-content {
	display:none;
}
.flip-container .front .grid-item-content h3, .block-2 .grid-item .grid-item-content h3 {
	color: #000000;
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight:600;
	padding: 15px 8px;
	text-transform: uppercase;
	height: auto;
	display: inline-block;
	margin: 0;
}
.content-slider .item .grid-item-content-turn, .page-country .grid-item .grid-item-content-turn {
	color: #fff;
	padding: 8px;
	text-align: center;
}
.content-slider .item .grid-item-content-turn h4, .block-2 .grid-item .grid-item-content-turn h4, .page-country .grid-item .grid-item-content-turn h4 {
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
	line-height: 24px;
	min-height: 101px;
	text-align:center;
}
.content-slider .item .grid-item-content-turn p, .block-2 .grid-item .grid-item-content-turn p, .page-country .grid-item .grid-item-content-turn p {
	color: #000;
	position: absolute;
	top: 225px;
	font-family: inherit;
	font-size: 14px;
	line-height: 21px;
	padding: 2px 0;
	text-align:left;
}
.content-slider .owl-nav .next, .content-slider .owl-nav .prev {
	top: -255.5px !important
}
.content-slider .owl-nav .prev span, .content-slider .owl-nav .next span {
	color: #0682C7;
	font-family: 'Exa 2', sans-serif;
}
.badge-warning {
	border-radius: 0;
}
 @media (max-width: 767px) {
.content-slider .item {
 padding: 0 0px;
 height: 300px;
}
.content-slider .owl-nav .next, .content-slider .owl-nav .prev {
 top: -235.5px !important;
}
}
/* HOME */

.adecouvrir {
	background-image: none;
	background-color:#EDEDED;
	padding-bottom: 30px;
}
.adecouvrir h2 {
	text-decoration: none;
	margin-bottom:15px!important;
}
/* MAP */

.home-map #map {
	background-color: #DEDEDE;
}
.page-country .nav {
	margin-bottom: 40px;
}
.page-country .nav ul li a {
	color: #000000;
	line-height: 35px;
	margin: 10px 0;
}
.page-country .nav ul li a.active, .page-country .nav ul li a:hover {
	color: #F71735;
	border-bottom: 3px solid #F71735;
	margin: 10px 0 7px;
}
/* fill-opacity rule : DISABLED --> 0.45 ENABLED --> 0.9  */
.leaflet-interactive {
	fill: #e20000;
}
/* USER ACCOUNT */

.user-account .user-account-info .form-frame input {
	margin: 0 3px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.user-account .user-account-info .form-frame button {
	cursor: pointer;
	font-size: 14px;
	font-weight: 800;
	padding: 9px 12px 8px;
	background-color: #D6001B;
	text-transform: uppercase;
}
@media (max-width: 52.84714286em) {
.user-account .row {
 margin-right: -15px;
}
}
 @media (max-width: 767px) {
.page-country .nav {
 margin-bottom: 0px;
}
.user-account {
 padding: 0 15px;
}
.page-country .nav ul li a {
 margin: 0px 0 7px;
 font-size: 20px;
}
.page-country .nav ul li a.active, .page-country .nav ul li a:hover {
 margin: 0px 0 4px;
}
}
/*  FOOTER  */

footer.bg-black {
	background-color: #003354;
	padding: 40px 0;
	color: white;
}
footer a {
	color:white;
	font-weight:600;
}
footer .col-md-12 {
	margin: 20px auto;
}
 @media (min-width: 768px) {
footer .seprator {
display:none;
}
 footer .row {
 display:inline-block;
}
 footer .row > div > br {
display:none;
}
 footer .row div {
 text-align:left;
}
 footer .row:nth-child(1) {
 width:30%;
}
footer .row:nth-child(2) {
 width:70%;
}
}
