.connected-lists{

  padding-top:20px;

  $lists-height : 250px;

  ul{
    list-style: none;
    padding: 0;
    padding-top:15px;
    /*background-color:#000;*/
    height:$lists-height;
    border: 1px dashed $cms-dark-color-2;
    overflow-y:scroll;
    padding: 10px;
  }

  .connected-list{
  }

  .middle-list{
    display:table;
    height: $lists-height;

    .content{
      vertical-align:middle;
      display:table-cell;

      a{
        display:block;
        padding-bottom: 20px;
      }
    }

  }

  .ui-state-default{
    padding: 5px 10px;
    margin-bottom: 5px;
  }

}
