.type-content{
  display:none;
}

.m-top-25{
	margin-top:25px;
}

.lang-fields-group{
	margin-bottom: 10px;
	.lateral-bar{
		padding-left:20px;
		overflow:hidden;
		border-left:5px solid $lateral-bar-color;
		label{
		    margin-top: 2px;
		}
	}
}