.dropzone-avatar{

  padding-bottom:40px;
  text-align:center;

  .image-container{
    @extend .rounded;

    text-align:center;
    width:140px;
    height:140px;
    margin:0 auto;
    border:1px dashed $cms-dark-color-2;
    overflow:hidden;
    display:inline-block;
    min-height: 0;
    padding:0;

  }

  .progress-bar{

    @extend .animate;

    background-color:$cms-color-1;
    opacity:0.5;
    position:absolute;
    width:1%;
    height:100%;
    display:none;
  }

  .background-image {
    width:140px;
    height:140px;
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    opacity:0.07;
    @extend .rounded;
    z-index:0;
    pointer-events:none;
  }

  .message{

    @extend .animate;

    position:absolute;
    top: 40px;
    left:0px;
    width:140px;
    padding:0px;
    font-size: 12px;
    line-height: 18px;
    padding-top: 9px;
    z-index:10;
    pointer-events:none;


    .link{
      color:$cms-color-1;
    }

  }

  a.btn.btn-table {

    @extend .rounded;

    background-color:$cms-light-color-3;
    display:inline-block;
    padding: 6px 7px;
    color:$cms-dark-color-2;
    padding: 6px 9px;
    margin-right: 5px;
    margin-top: 6px;

    i.fa {
      font-size:14px;
    }

    &:hover{

      color:$cms-color-1;

      i.fa {
        color:$cms-color-1;
      }
    }

  }


  .image-container.uploaded {

    overflow:initial;

    .background-image{
      opacity:1;
      background-size:cover;
      width:138px;
      height:138px;
    }

    .actions{
      top: -12px;
      pointer-events:auto;
    }
  }

}

.dropzone-banner{

  padding-bottom:40px;
  text-align:center;

  .image-container{
    text-align:center;
    width:100%;
    height:200px;
    margin:0 auto;
    border:1px dashed $cms-dark-color-2;
    overflow:hidden;
    display:inline-block;
    min-height: 0;
    padding:0;

  }

  .progress-bar{

    @extend .animate;

    background-color:$cms-color-1;
    opacity:0.5;
    position:absolute;
    width:1%;
    height:100%;
    display:none;
  }

  .background-image {
    width:100%;
    height:200px;
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-color:#fff;
    opacity:0.5;
    z-index:0;
    pointer-events:none;
  }

  .message{

    @extend .animate;

    position:absolute;
    top: 50px;
    left:0px;
    width:100%;
    padding:0px;
    font-size: 13px;
    line-height: 24px;
    padding-top: 9px;
    z-index:10;
    pointer-events:none;


    .link{
      color:$cms-color-1;
    }

  }

  a.btn.btn-table {

    @extend .rounded;

    background-color:$cms-light-color-3;
    display:inline-block;
    padding: 6px 7px;
    color:$cms-dark-color-2;
    padding: 6px 9px;
    margin-right: 5px;
    margin-top: 6px;

    i.fa {
      font-size:14px;
    }

    &:hover{

      color:$cms-color-1;

      i.fa {
        color:$cms-color-1;
      }
    }

  }


  .image-container.uploaded {

    overflow:initial;

    .background-image{
      opacity:1;
      background-size:cover;
      width:100%;
      height: 198px;
    }

    .actions{
      top: -14px;
      pointer-events:auto;
    }
  }


}



.dropzone-icon{

  // padding-bottom:80px;
  text-align:center;

  .image-container{


    text-align:center;
    width:300px;
    height:100px;
    margin:0 auto;
    border: none;
    // border:1px dashed $cms-dark-color-2;
    overflow:hidden;
    display:inline-block;
    min-height: 0;
    padding:0;

  }

  .progress-bar{

    @extend .animate;

    background-color:$cms-color-1;
    opacity:0.5;
    position:absolute;
    width:1%;
    height:100%;
    display:none;
  }

  .background-image {
    max-width:40px;
    max-height:40px;
    display:inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-color:#fff;
    opacity:0.5;
    z-index:0;
    pointer-events:none;
  }

  .message{

    @extend .animate;

    position:absolute;
    top: 50px;
    left:0px;
    width:100%;
    padding:0px;
    font-size: 13px;
    line-height: 24px;
    padding-top: 9px;
    z-index:10;
    pointer-events:none;


    .link{
      color:$cms-color-1;
    }

  }

  a.btn.btn-table {

    @extend .rounded;

    background-color:$cms-light-color-3;
    display:inline-block;
    padding: 6px 7px;
    color:$cms-dark-color-2;
    padding: 6px 9px;
    margin-right: 5px;
    margin-top: 6px;

    i.fa {
      font-size:14px;
    }

    &:hover{

      color:$cms-color-1;

      i.fa {
        color:$cms-color-1;
      }
    }

  }


  .image-container.uploaded {

    overflow:initial;

    .background-image{
      opacity:1;
      background-position: center center;
      // background-size:cover;
      // width:100%;
      // height: 198px;
    }

    .actions{
      top: -14px;
      pointer-events:auto;
    }
  }


}
