body{

  background-color:$cms-light-color-1;

}

#wrapper{
  position:absolute;
  height:100%;
  width:100%;
}

$sidebar-width : 250px;
$header-height: 70px;

.btn {

  @extend .rounded;

  &.btn-primary{

    @extend .rounded;

  }

  &.btn-default{
    background-color:#c5cbce;
  }

}

.text-warning{
  color:#f3b360;
}

.cke_textarea_inline{
  @extend .form-control;

  height:auto;
}


section#main{
  margin-left:$sidebar-width;
  z-index:0;

}

header{
  height:$header-height;
  background-color:$cms-light-color-2;

  .navbar-nav{

    padding-right:20px;

    li{
      a{
        display:inline-block;
        line-height: $header-height;
        padding:0px 15px;
        margin:0px;
        color:$cms-dark-color-1;
        font-weight:400;
        font-size:13px;

        i{
          color:$cms-dark-color-2;
          font-size: 16px;
        }

        &:hover{
          background-color:$cms-light-color-1;
        }


      }



      i{
        color:$cms-dark-color-2;
      }


    }

    .default-padding li a{
        padding: 6px 23px;
        line-height: 21px;
     }


   }


   .dropdown-menu{
      top: 55px;

      li a {
        background-color:transparent;
        color:$cms-dark-color-2;
        padding-left: 29px;

        &:hover{
          background-color:transparent;
          border:none;
          color:$cms-color-1;
          box-shadow: none;

          i.fa{
            color:$cms-color-1;
          }

        }

      }

    }

}

section#content{



  button.btn{

    @extend .rounded;

  }


  .header {

    padding:40px 70px 10px;

    h1{
      display:inline-block;
      padding-right:20px;
      vertical-align: top;
      font-size: 30px;
      line-height: 42px;
    }

    .actions{
      position:absolute;
      top: 55px;
      right: 70px;

      .dropdown-menu {
        top: 55px;

        li a {
          background-color:transparent;
          color:$cms-dark-color-2;
          padding-left: 29px;

          &:hover{
            background-color:transparent;
            border:none;
            color:$cms-color-1;
            box-shadow: none;
          }

          .fa {
            position: absolute;
            top: 14px;
            left: 12px;
          }


        }

      }

      .btn-status{
        background-color:transparent;
        color:$cms-dark-color-1;
        border:1px solid $cms-light-color-4;
        padding-left: 45px;
        text-transform:initial;

        .caret{
          margin-left: 5px;
        }

        .fa {
          position:absolute;
          top: 15px;
          left: 16px;

        }

      }

    }

    .input-search{
      display:inline-table;
      width:240px;
      vertical-align: top;

      i{
        color:$cms-dark-color-2;
      }
    }

    .btn-primary{
        float:right;
        right: 0px;
        bottom: 0px;
        margin-top: 26px;

        i{
          font-size: 16px;
          padding-right: 7px;
        }

    }

  }


  .nav{
    padding:0px 70px;
  }

  .body{
    padding: 30px 70px 70px;
  }


}

.form-container{
  padding:40px;
}


.bootstrap-select {
  .dropdown-menu{
    ul.dropdown-menu{
      li{
        &.active a{
          color:$cms-color-1;
          background-color:transparent;
          box-shadow:none;
        }

        a{
          &:hover , &:focus, &:active{
            color:$cms-color-1;
            background-color:transparent;
            box-shadow:none;
          }
        }
      }
    }
  }
}
