
body.dragging, body.dragging { 
  cursor: move !important;
}

ol.sortable-list {
  
  list-style-type: none;
  margin: 0;
  min-height: 10px;
  padding-left: 0px;
  
  li{
    display: block;
    margin: 5px;
    padding: 0px 10px 0 10px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: transparent;
    min-height: 30px;
    
    &.placeholder {
      border:1px dashed $cms-color-1;
      background-color:transparent;
    }
    
    &.drag{
      pointer-events:auto;
      color:$cms-color-1;
      background-color:$cms-light-color-2;
      line-height: 48px;
      
      i{
        color:$cms-dark-color-3;
      }
      
    }
    
    &.no-drag{
      pointer-events:none;
      color:$cms-dark-color-1;
      background-color:transparent;
    }
    
    .actions{
      float:right;
      line-height: 34px;
    }
    
    
    a.btn.btn-table{
      
      @extend .rounded;
      background-color:$cms-light-color-3;
      display:inline-block;
      padding: 6px 7px;
      color:$cms-dark-color-2;
      padding: 6px 9px;
      margin-right: 5px;
      
      i.fa {
        font-size:14px;
      }
      
      &:hover{
        
        color:$cms-color-1;
        
        i.fa {
          color:$cms-color-1;
        }
      }
      
    }
    
  }
  
}

/**
body.dragging, body.dragging { 
  cursor: move !important;
} 

.dragged {
  position: absolute;
  top: 0;
  opacity: .5;
  z-index: 2000;
}

ol.vertical {
  margin: 0 0 9px 0;
  min-height: 10px;
  
  li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    color: $cms-color-1;
    background: $cms-light-color-2;
  }
  
  li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
  
  
    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: #f00;
      border-right: none;
    }
  }
}
*/

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}