.nav.tabs-inline{
  
  border-bottom:1px solid $cms-light-color-3;
  
  ul{
    
    margin:0;
    padding:0;
    
    li{
      display:inline-block;
      vertical-align:top;
      padding: 0 15px;
      
      &:first-child{
        padding-left:0px;
      }
      
      
      a {
          color:$cms-dark-color-2;
          display:inline-block;
          vertical-align:top;
          padding:0px;
          margin:0px;
          text-decoration:none;
          width:100%;
          border-bottom:3px solid transparent;
          
          .text{
            text-transform:uppercase;
            font-weight:500;  
            font-size:12px;
            line-height: 50px;  
            display: inline-block;
            vertical-align: top;
          }
          
          &:hover{
            background-color:$cms-light-color-1;
            border-bottom:3px solid $cms-color-1;
            
            .text{
              color:$cms-dark-color-1;
            }
            
          }
      }
      
      &.active {
        
        a {
            background-color:$cms-light-color-1;
            border-bottom:3px solid $cms-color-1;
            
            .text{
              color:$cms-dark-color-1;
            }
            
         }
        
        
      }
      
    }
    
  }
  
}

