
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;



// Layout colors
$cms-light-color-1: #f3f3f3;  //main gray
$cms-light-color-2 : #fefefe; //heder gray
$cms-light-color-3 : #eaeef0; //heder gray tables
$cms-light-color-4 : #d5dadc; //border buttons


$cms-dark-color-1 : #37474f; //menu text dark
$cms-dark-color-2 : #303030; //menu text
$cms-dark-color-3 : #969696; //menu text

$cms-color-1 : #024f83; //blue

$lateral-bar-color : #D2D2D2; //lateral bar language fields group on cms.