.block-1 {

  padding:20px;
  text-align:center;

  a {

    text-decoration:none !important;

    @extend .animate;

    border:1px solid #fff;
    @include font(18,20 ,500);
    @extend .rounded;
    @extend .animate;
    padding:12px 15px;
    color: #fff;

    @include mq(tablet){
      @include font(30,30,500);
    }
  }

  .errors{
    max-width:430px;
    padding:10px;
    background-color: #f9ebeb;
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
    padding: 5px;
    color: #a94442;
    border: 1px solid #a94442;
    border-radius: 3px;
    margin: 0 auto;

    ul{
      margin-bottom:0px;
    }

    ul li{
      color: #a94442;
    }
  }
  .inscription-form {
    max-width:440px;
    margin:0 auto;
    height: 0px;
    opacity:0;
    padding:0 15px;
    overflow: hidden;

    @extend .animate;


    &.partner-form{
      background-color:#fff;
      padding: 0px 40px;
      padding-left: 0px;
      max-width: 780px;
      margin-bottom: 0px;
      @include round(12px);

      @include mq(tablet){
          padding-left: 300px;
      }
    }

    .partner-logo{
      height: 110px;
      width: 100%;
      position: relative;
      top: 10%;
      left: 0px;
      margin-bottom:20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include mq(tablet){
          height: 80%;
          width: 240px;
          left: 20px;
          position: absolute;
          margin-bottom:0px;
      }
    }

    .col-md-6{
      padding-right:3.5px;
      padding-left:3.5px;
    }

    .form-group{
      margin-bottom:6px;
    }

    input[type="email"],
    input[type="text"]{
      height: 27px;
      line-height:27px;
      border:1px solid #eeedec;
    }

    .has-error input[type="email"]{
      box-shadow:inset 0 0 5px 1px #a94442;
    }



    textarea{
       height: 93px;
       border:1px solid #eeedec;
    }

    input[type="submit"] {
      margin-top:20px;
      background-color:$login-button;
      min-width: 100%;

      @include mq(tablet){
          min-width: 250px;
      }

      &:hover{
        background-color:$login-button-hover;
      }

    }
  }

  .errors ul{
    list-style:none;
    color:white;
    font-weight:700;
    padding:0;
  }

  &.open{
    a {
      border:none;
    }

    padding-top:5px;
    padding-bottom:5px;

    .inscription-form{
      height: auto;
      opacity:1;
      padding:15px;

      &.partner-form{
        padding: 20px 40px;
        padding-left: 40px;
        max-width: 780px;
        margin-bottom: 30px;
        @include round(12px);

        input[type="submit"] {
          background-color:$brand-color-1;

          &:hover{
            background-color:$brand-color-1;
          }

        }

        @include mq(tablet){
          padding-left: 300px;
        }

      }

    }
  }

}
