.block-4 {

  text-align:center;
  padding-bottom:40px;
  padding: 30px;
  background-color:#f3f3f3;

  h2{
    color:$brand-color-1;
    margin:0;

    @include font(30,34,500);

    @include mq(tablet){
      @include font(37,42,500);
    }

  }

  .row{
    margin-left:0px;
    margin-right:0px;
  }


  p{
    color:$brand-dark-color-2;
    @include font(20,24,500);
    padding-bottom:30px;
  }

  p.big-number{
    color:$brand-color-1;
    @include font(70,40,100);
    padding-top: 4px;
    padding-bottom:0px;

    @include mq(tablet){
      @include font(90,82,100);
    }
  }

  i.icon {
    font-size: 66px;
    line-height: 40px;
    color:$brand-dark-color-2;
  }

}
