.block-2 {

  /*text-align:center;*/
  padding:20px;
  padding-bottom:40px;

  h2{
    color:$brand-color-1;
    margin:0;
    @include font(30,34,500);

    @include mq(tablet){
      @include font(37,42,500);
    }

  }

  .row{
    margin-left:0px;
    margin-right:0px;
  }

  p {
    color:$brand-dark-color-2;
    font-family: $brand-font-2;
    @include font(15,18,400);
    font-style:italic;
    max-width:680px;
    margin: 0 auto;
    padding-bottom:15px;
  }

  $grid-item-height : 245px;

  .theme-container{
    /*
    overflow: hidden;
    height:$grid-item-height*2;

    @extend .animate;
    */
  }

  .grid-item {
    height:$grid-item-height;
    z-index:0;
    padding-right:0;
    padding-left:0;
    cursor:p;

    .flip-container.disabled {

      overflow:hidden;
      cursor:pointer;
      pointer-events:none;

      &:after{
        content:'À débloquer';
        position:absolute;
        top:100px;
        left:-25%;
        width:150%;
        height:27px;
        color:#fff;
        background-color:$brand-color-2;
        @include font(19,27,100);
        text-transform:uppercase;
        @include rotate(-17deg);
      }

      .flip-container:hover{
        transform: none;
      }

      .background-hover{
        background-color:$brand-themes-disabled;
        opacity:0.85;
      }

    }

    .background-hover{
      display:block;
      position:absolute;
      left:0px;
      width:100%;
      height:40%;
      bottom:0px;
      z-index:20;
      background-color:$brand-themes-hover;
      opacity:0.5;
      background-position: center;
    }

    .flip-container.selected {
      .background-hover{
        background-color:$brand-themes-selected;
      }

      .background-hover-turn{
        background-color:$brand-themes-selected;
      }
    }

    .background-hover-turn{
      display:block;
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      z-index:20;
      background-color:$brand-color-3-hover-flipper;
      opacity:0.75;
      background-position: center;
    }

    .background-image{
      z-index:10;
      top:0px;
      height: 100%;
      background-position: center;
    }

    .icon{
      display:block;
      position:absolute;
      z-index:30;
      top:0px;
      left:0px;
      width:100%;
      height:60%;
      display:table;

      .icon-container{
        display:table-cell;
        vertical-align:middle;
        height:100%;

        i {
          color:#fff;
          @include font(50,50,100);
        }

      }
    }

    .grid-item-content{
      display:block;
      position:absolute;
      bottom:0px;
      left:0px;
      width:100%;
      z-index:30;
      color:#fff;
      height:100px;
      display:table;

      h3{
        display:table-cell;
        vertical-align: middle;

        @include font(16,18,700);
        padding: 0 20px;
        text-transform: capitalize;

        i{
          color:#fff;
          @include font(30,38,100);
          display:block;
        }
      }

      hr{
        width:117px;
        margin-bottom:36px;
        margin-top:6px;
      }

    }

    .grid-item-content-turn{
      display:block;
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      z-index:30;
      color:#fff;
      padding:15px 20px 60px;

      h4{
        @include font(20,20,700);
        padding-bottom:5px;
      }

      p{
        @include font(13,16,400);
        font-style:normal;
        color:#fff;
      }

      .button-container{
        position:absolute;
        bottom:26px;
        padding:0 40px;
        left:0px;
        width:100%;

        .btn-primary{
          width:100%;
          min-width:auto;
          @include font(16,18,700);
          padding:10px;
          background-color:$brand-themes-button;
          border-radius: 0px;
        }
      }

    }

  }


  .grid-item-categories {
    clear:left;
    background-color:$brand-themes-categories;
    padding:0px 30px 0px;
    height:0px;
    overflow:hidden;
    @extend .animate;

    &.open {
      height:auto;
      padding:25px 30px 17px;
    }

    a{
      border:1px solid rgba(255,255,255,0.5);
      color:#fff;
      @include font(16,16,500);
      @extend .rounded;
      padding: 4px 11px;
      //margin-right: 4px;
      margin-left:4px;
      margin-bottom: 8px;
    }

  }

  .see-more-container{
    background-color:$brand-color-2;
    padding:10px;
  }

}


/* entire container, keeps perspective */
.flip-container {
    /* keeps perspective in the entire container */
  	-webkit-perspective: 1000px;
  	-moz-perspective: 1000px;
  	perspective: 1000px;

}


/* flip the pane when hovered */
.flip-container:hover .back {
	transform: rotateY(0deg);
}

/* flip the pane when hovered */
.flip-container:hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

// /* flip the pane when hovered */
// .flip-container:hover .flipper, .flip-container.hover .flipper {
//   transform: rotateY(180deg);
// }
//
// .flip-container.disabled {
//   &:hover .flipper, &.hover .flipper {
//      transform:none;
//   }
// }

.flip-container, .front, .back {
  width: 100%;
  height: 245px;
}

/* flip speed goes here */
.flipper {
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  position: absolute;
  top: 0;
  left: 0;

  /* hide back of pane during swap */
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	backface-visibility: hidden;
  	/* flip speed goes here (for IE compatibility)
  	Else put it in .flipper */
  	-webkit-transition: 0.4s;
  	-moz-transition: 0.4s;
  	-o-transition: 0.4s;
  	-ms-transition: 0.4s;
  	transition: 0.4s;
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	-ms-transform-style: preserve-3d;
  	transform-style: preserve-3d;

}
.front {
	z-index: 2;
	background: #000;
}

/* original position of the image (reverse horizontal symetry) */
.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
