.block-5 {

  text-align:center;
  padding: 30px;
  padding-bottom:40px;

  h2{
    color:$brand-color-1;
    margin:0;

    @include font(30,34,500);

    @include mq(tablet){
      @include font(37,42,500);
    }

  }

  .row{
    margin-left:0px;
    margin-right:0px;
  }


  p{
    color:$brand-dark-color-2;
    @include font(16,20,600);
    max-width:670px;
    margin: 0 auto;
    margin-bottom: 20px;
  }



  img{
    max-width:100%;
  }

}
