.block-3 {

  text-align:center;
  padding:20px;
  padding-bottom:40px;
  background-color:$brand-color-2;
  background-size:cover;
  background-position:center center;

  h2{
    color:#fff;
    margin:0;

    @include font(30,34,500);

    @include mq(tablet){
      @include font(37,42,500);
    }

  }

  .row{
    margin-left:0px;
    margin-right:0px;
  }

  hr.decoration{
    &:before{
      border-top:1px solid #fff;
    }

    &:after{
      border-top:1px solid #fff;
    }
  }

  p {
    color:#fff;
    font-family: $brand-font-1;
    @include font(16,18,600);
    margin: 0 auto;
    padding-bottom:15px;
  }

  p.image-caption{
    max-width: 600px;
    padding: 15px 0px 40px;
  }

  .question-button-group{

    position:relative;
    margin-top: 97px;
    display: inline-block;
    padding-bottom: 40px;

    img.question-girl{
      position:absolute;
      top: -100px;
      left: 30%;
    }

    img.question-sign{
      position:absolute;
      top: -52px;
      left: 45px;
      z-index: 10;
    }

  }

  .questions-slider{
    background-color:#fff;
    @include round(18px);
    padding:15px;
    z-index:0;
    height:160px;

    p {
      color:$brand-dark-color-2;
    }

    .big-number{
      width:118px;
      position:absolute;
      top:15px;
      left:15px;
      height: 126px;
      border-right:1px solid $brand-dark-color-2;
      z-index:10;
      padding-right:15px;

      p{
        @include font(20,24,500);
      }

      p.number{
        @include font(90,74,100);
        color:$brand-color-1;
        margin-bottom:0px;
        padding-bottom:6px;
      }


    }

    .slider{
      margin-left:120px;

      p{
        font-family:$brand-font-2;
        @include font(12,14,400)
        text-align:left;
      }

      p.question{
        font-weight:600;
        font-style:italic;
      }

      .slick-dots {
        bottom: -21px;
      }

      .slick-dots li{
        width: 2px;

      }

      .slick-dots li button:before{
        font-size: 9px;
        color:$brand-dark-color-2;
        opacity:1;
      }

      .slick-slide{
        outline: none;
        padding-right: 15px;
        padding-left: 15px;
        height: 114px;
        overflow:hidden;
      }

      .slick-dots li.slick-active button:before{
        color:$brand-color-1;
        opacity:1;
      }

      &.slick-dotted.slick-slider{
        margin-bottom:0px;
      }

    }

  }


}
