.btn{

  background-color:$brand-color-1;
//  @extend .rounded;
  text-transform:uppercase;
  padding:12px;
  @include font(20,24,500);
  color:#000;
  min-width:250px;
  border:none;

  @extend .animate;

  &:hover, &:focus, &:active, &:active:focus{
    background-color:$brand-dark-color-1;
    color:#000;
    outline: none;
  }

  &:visited{
    background-color:$brand-color-1;
  }

  &.btn-sm{
    @include font(16,18,500);
    min-width:90px;
    text-transform:none;
    padding:4px;
  }

}


.btn-primary{ //Oramge big

  background-color:$brand-color-1;
//  @extend .rounded;
  text-transform:uppercase;
  padding:12px;
  @include font(16,20,500);
  color:#fff;
  min-width:250px;
  border:solid 1px #fff;

  @extend .animate;

  @include mq(tablet){
    padding:12px;
    @include font(20,24,500);
  }

  &:hover, &:focus, &:active, &:active:focus{
    background-color:$brand-dark-color-1;
    color:#fff;
    outline: none;
  }

  &:visited{
    background-color:$brand-color-1;
  }

  &.blue {

    background-color:$brand-color-2;

    &:hover, &:focus, &:active, &:active:focus{
      background-color:$brand-color-2;
    }

    &:visited{
      background-color:$brand-color-2;
    }

  }

  &.brown {

    background-color:$brand-dark-color-2;

    &:hover, &:focus, &:active, &:active:focus{
      background-color:$brand-dark-color-2;
    }

    &:visited{
      background-color:$brand-dark-color-2;
    }

  }


}

.btn-secondary{ //white with border blue
  border:1px solid #fff;
  @include font(30,30,500);
//  @extend .rounded;
  @extend .animate;
  padding:12px 15px;
  color: #fff;
  background-color:transparent;
  text-transform:none;

  &:hover, &:focus, &:active, &:visited, &:active:focus{
    background-color:transparent;
    color:#fff;
    outline: none;
  }

}

.btn-secondary-2{ //blue
  @extend .btn-secondary;
  border:1px solid $brand-color-2;
  color:$brand-color-2;


  &:focus, &:active, &:visited, &:active:focus{
    color:$brand-color-2;
    background-color:transparent;
  }

  &:hover{
    color:#fff;
    background-color:$brand-color-2;
  }

  &.btn-sm {
    @include font(16,18,500);
    padding:4px 6px;
    min-width:none;
  }

}

.btn-secondary-3{ //brown
  @include font(12,14,500);
  @extend .animate;
  padding:4px 6px;
  min-width:none;
  color: #fff;
  background-color:$brand-color-2;
  text-transform:none;


  &:focus, &:active, &:visited, &:active:focus{
    color: #fff;
    background-color:$brand-color-2;
  }

  &:hover{
    color: #fff;
    background-color:$brand-color-2;
  }

}
