html{
  height: 100%;
  box-sizing: border-box;
}

body{
  background-color:#fff;
  font-family:$brand-font-1;
  @include font(14,18,400);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing:0px;

  // padding-bottom: 180px;
  position:relative;
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;

}

#wrapper{
  position:relative;
  height:100%;
  width:100%;
  box-sizing: border-box;
  /*padding-bottom: 80px;*/
}


section#main{
  z-index:0;
  height:100%;
}

a {
  &:hover{
    text-decoration:none;
    color:$brand-color-1;
  }
}

header{

  background-color:#fff;

  .background-image{
    background-size: cover;
    background-position: center center;
    z-index:0;
  }

  .background-image-hover{
    // z-index:1;
    // position:absolute;
    // width:100%;
    // height:100%;
    // top:0px;
    // opacity:0.2;
    // background-color:$background-image-color;

  }

  .background-image-decoration{
    z-index:2;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;

    &:before {
      content:' ';
      position:absolute;
      display:block;
      top:0px;
      width:20%;
      left:0px;
      height:100%;
      background-color:$background-image-color;
      z-index:11;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea611c+60,ea611c+100&1+60,0+100 */
      background: -moz-linear-gradient(left, $background-gradient-color-1 30%, $background-gradient-color-2 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, $background-gradient-color-1 30%,$background-gradient-color-2 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, $background-gradient-color-1 30%,$background-gradient-color-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-image-color', endColorstr=$background-gradient-color-2-ie9,GradientType=1 ); /* IE6-9 */

    }

    &:after {
      content:' ';
      position:absolute;
      display:block;
      top:0px;
      width:20%;
      right:0px;
      height:100%;
      background-color:$background-image-color;
      z-index:11;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea611c+60,ea611c+100&1+60,0+100 */
      background: -moz-linear-gradient(right, $background-gradient-color-1 30%, $background-gradient-color-2 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(right, $background-gradient-color-1 30%,$background-gradient-color-2 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, $background-gradient-color-1 30%,$background-gradient-color-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$background-gradient-color-2-ie9, endColorstr='$background-image-color',GradientType=1 ); /* IE6-9 */

    }

    &.brown{
      &:before{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea611c+60,ea611c+100&1+60,0+100 */
        background: -moz-linear-gradient(left, $background-gradient-color-brown-1 30%, $background-gradient-color-brown-2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $background-gradient-color-brown-1 30%,$background-gradient-color-brown-2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $background-gradient-color-brown-1 30%,$background-gradient-color-brown-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-image-color', endColorstr=$background-gradient-color-brown-2-ie9,GradientType=1 ); /* IE6-9 */
      }
      &:after{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea611c+60,ea611c+100&1+60,0+100 */
        background: -moz-linear-gradient(right, $background-gradient-color-brown-1 30%, $background-gradient-color-brown-2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(right, $background-gradient-color-brown-1 30%,$background-gradient-color-brown-2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to left, $background-gradient-color-brown-1 30%,$background-gradient-color-brown-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$background-gradient-color-brown-2-ie9, endColorstr='$background-image-color',GradientType=1 ); /* IE6-9 */
      }
    }

  }


  .horizontal-inner-container {
    z-index:10;



  }

  .header-decoration{
    height:8px;
    width:100%;
    background-color:$header-decoration-color;
    position:relative;

    .header-decoration-item{
      position:absolute;
      height:8px;
      background-image:url('../images/front/header-decoration.jpg');
      display: block;
      width: 263px;
      left: 40px;
    }

  }

  .header-content {
     height: 300px;
     display:table;

     @include mq(tablet){
       height: 760px;
     }


  }


  .background-image-container{
    max-width:1250px;
  }


  .desktop-nav{
    display:none;
    @include mq(desktop){
      display:block;
    }
  }

  .mobile-nav{
    display:block;
    float: right;

    @include mq(desktop){
        display:none;
    }

  }

  nav ul li a {
    color:#fff;
  }

  &.default{
    background-color:#fff;

    .background-image{
      //height: 261px;
      top:68px;

      height: 300px;

      @include mq(tablet){
        height: 800px;
      }

      .legend {
          color: #fff;
          @include font(12,12,600);
          position:absolute;
          right: 0px;
          bottom: 0;
          background: rgba(0,0,0, 0.5);
          padding: 10px 20px;
      }
    }

    // nav ul li a {
    //   color: $brand-dark-color-2;
    // }

    .title{
      text-align:center;
      color:#fff;
      display: table-cell;
      vertical-align: middle;
      padding:0 20px;

      h1 {
        font-size: 25px;


        @include mq(tablet){
          font-size: 60px;
        }
      }

    }

  }

  nav{
    padding:10px 20px;
    height:76px;

    @include mq(desktop, wide){
        height:96px;
    }

    .logo{
          display:inline-block;
          position:absolute;
          top:0px;
          left:0px;
          z-index:50;

          img {
              @include mq(desktop, wide){
                  height:46px;
              }
          }
    }

    ul{
      width:auto;
      float: left;
      text-align:left;

      &.right {
          float: right;
          padding-left:0;
          width: auto;
          text-align: right;


          .search-form {
              width: 175px;
              margin-top: 15px;
              float: left;
              border: 1px solid $brand-color-1;

              .search-input {
                  float: left;
                  border:none;
                  @include font(14,20,400);
                  width: 135px;
                  padding-left: 4px;
                  outline: none;
              }

              .search-submit {
                  background-color: $brand-color-1 !important;
                  @include font(14,20,400);
                  color: #fff;
                  float:right;
                  border: none;

                    @-moz-document url-prefix() {
                        line-height: 22px;
                    }
              }
          }

      }

      @include mq(desktop, wide){
        margin-top:30px;
        margin-left: 0;
        padding-left:0;
      }

      @include mq(wide){
        padding-left: 280px;
      }

      li{
        display:inline-block;
        padding: 10px 4px 0px 0px;

        @include mq(desktop, wide){
            padding-left: 0;
        }

        a{
          @extend .animate;
          //@extend .rounded;
          color:#000;
          @include font(17,20,400);
          text-transform:uppercase;

          padding: 8px 4px 8px 4px;

          &:hover,&:focus{
            //background-color:$brand-color-1;
            //color:#fff;
            text-decoration:none;
          }
        }

        &.active{
          a{
            background-color:$brand-color-1;
            color:#fff;
          }
        }

        &.primary{

          position: relative;

          a{
            background-color:$brand-color-2;
            font-weight:700;
            position:relative;
            z-index:110;
            color:#fff;
          }

        }

        &.login-buttons {

          a.btn-left{
            background-color:$brand-color-1;
            @include font(13,20,400);
            position:relative;

            //@include rounded-left(18px);
            margin-right: -4px;
            color:#fff;

          }

          a.btn-right{
            background-color:$brand-dark-color-2;
            @include font(13,20,400);
            position:relative;
            color:#fff;

            //@include rounded-right(18px);
          }

        }

      }
    }

  }



  .login-form {

    @extend .animate;
    opacity:0;

    &.open{
      opacity:1;
      z-index:100;
    }

    position:absolute;
    top:10px;
    z-index:-1;
    right:0px;
    width:190px;
    padding:15px 13px;
    background-color:$brand-color-2;
    padding-top: 37px;

    //@include round(18px);

    input[type="text"],
    input[type="password"] {
      $font-family:$brand-font-2;
      @include font(13,26,400);
      border: none;
      margin-bottom:0px;
      height:28px;
    }

    .form-group {
      margin-bottom:6px;

      &.has-error{
        input{
          border:1px solid #a94442;
        }
      }

    }

    .control-label{
      background-color: #f9ebeb;
      margin-top: 10px;
      font-size: 11px;
      line-height: 12px;
      padding: 5px;
      color:#a94442;
      border:1px solid #a94442;
      @include round(3px);
    }

    a {
      @include font(11,14,400);
      font-family:$brand-font-2;
      text-transform:none;
      text-decoration:underline;
      text-align: center;
      padding: 0;
      margin: 0;
      display: block;
      margin-bottom:8px;
    }

    .form-control::-webkit-input-placeholder { font-style:italic; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { font-style:italic; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { font-style:italic; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { font-style:italic; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { font-style:italic; }  /* Microsoft Edge */

    .btn-primary{
      width:100%;
      min-width:auto;
      @include font(14,18,700);
      padding:7px;
      background-color:$login-button;

      &:hover{
        background-color:$login-button-hover;
      }
    }

  }

  .logo-home{

    text-align:center;
    padding-top:50px;
    padding-bottom:20px;

    .logo-group{

      width: 480px;
      margin: 0 auto;

      .logo-icon{
        position:absolute;
        top: 49px;
        left: 39px;
      }

      zoom: 0.5;
      -moz-transform: scale(0.5);

      @include mq(mobileLandscape){
        zoom: 0.8;
        -moz-transform: scale(0.8);
      }

      @include mq(tablet){
        zoom: 1;
        -moz-transform: scale(1);
      }

    }

    p{
      max-width:270px;
      margin:0 auto;
      border-top: 2px solid #fff;
      color:#fff;
      padding-top:5px;
      padding-bottom:60px;
      @include font(12,18,500);
      margin-top: 20px;

      @include mq(tablet){
        @include font(20,24,500);
        max-width:440px;
      }

    }

  }


}

.mobile-menu{

  display:none;

  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.7);
  z-index:9999;

  padding-top:30px;

  .search-submit {
      background-color: $brand-color-1;
      @include font(14,20,400);
      color: #fff;
      border: none;
  }

  a.close-button{
    position:absolute;
    top:20px;
    right:25px;
    color:#fff;
    font-size:20px;
  }

  ul{
    width:100%;
    text-align:right;
    padding: 0;

    li{
      display:block;
      padding:10px;
      text-align:center;

      a{
        @extend .animate;
        @extend .rounded;

        color:#fff;

        @include font(15,20,400);
        text-transform:uppercase;

        padding:8px 12px;

        &:hover,&:focus{
          background-color:$brand-color-1;
          color:#fff;
          text-decoration:none;
        }
      }

      &.active{
        a{
          background-color:$brand-color-1;
          color:#fff;
        }
      }

      &.primary{

        position: relative;

        a{
          background-color:$brand-color-2;
          font-weight:700;
          position:relative;
          z-index:110;
          color:#fff;
        }

      }

      &.login-buttons {

        a.btn-left{
          background-color:$brand-color-1;
          @include font(13,20,400);
          position:relative;

          @include rounded-left(18px);
          margin-right: -4px;
          color:#fff;

        }

        a.btn-right{
          background-color:$brand-dark-color-2;
          @include font(13,20,400);
          position:relative;
          color:#fff;

          @include rounded-right(18px);
        }

      }

    }
  }

  .login-form {

    @extend .animate;

    opacity:0;

    &.open{
      opacity:1;
    }

    position:absolute;
    top:10px;
    z-index:100;
    right: 10%;
    width: 80%;
    padding:15px 13px;
    background-color:$brand-color-2;
    padding-top: 37px;

    @include round(18px);

    input[type="text"],input[type="password"] {
      $font-family:$brand-font-2;
      @include font(13,26,400);
      border: none;
      margin-bottom:0px;
      height:28px;

    }

    .form-group {
      margin-bottom:6px;

      &.has-error{
        input{
          border:1px solid #a94442;
        }
      }

    }

    .control-label{
      background-color: #f9ebeb;
      margin-top: 10px;
      font-size: 11px;
      line-height: 12px;
      padding: 5px;
      color:#a94442;
      border:1px solid #a94442;
      @include round(3px);
    }

    a {
      @include font(11,14,400);
      font-family:$brand-font-2;
      text-transform:none;
      text-decoration:underline;
      text-align: center;
      padding: 0;
      margin: 0;
      display: block;
      margin-bottom:8px;
    }

    .form-control::-webkit-input-placeholder { font-style:italic; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { font-style:italic; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { font-style:italic; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { font-style:italic; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { font-style:italic; }  /* Microsoft Edge */

    .btn-primary{
      width:100%;
      min-width:auto;
      @include font(14,18,700);
      padding:7px;
      background-color:$login-button;

      &:hover{
        background-color:$login-button-hover;
      }
    }

  }


}

section#content{


}

footer{

  /*position:absolute;*/
  right: 0;
  bottom: 0;
  left: 0;

  text-align:center;
  overflow:hidden;

  background-color:#000;

  .horizontal-inner-container{
    padding:0px;
  }

  ul{

    padding-top:10px;
    padding-left: 0px;
    list-style: none;
    li{

      color:$brand-light-color-6;
      @include font(16,18,600);

      a {
        color:$brand-light-color-6;
        @extend .animate;
        @include font(16,18,500);
      }
    }
  }

  .footer-decoration-1{
    background-image:url('../images/front/footer-decoration-1.png');
    position:absolute;
    top:0px;
    right:0px;
    width:200px;
    height:200px;
    display:block;
    z-index:10;
    background-repeat:no-repeat;
  }

  .footer-decoration-2{
    background-image:url('../images/front/footer-decoration-2.png');
    position:absolute;
    bottom:0px;
    left:0px;
    width:150px;
    height:69px;
    display:block;
    z-index:10;
    background-repeat:no-repeat;
  }

}

.bg-blue{
  background-color:$brand-color-2;
}

hr.decoration {
  max-width: 340px;
  border:none;
  position:relative;

  margin: 20px auto;
  padding: 10px 0;



  &:before{
    content:' ';
    border-top:1px solid $brand-dark-color-2;
    position:absolute;
    top:8px;
    left:0px;
    width:130px;
  }

  &:after{
    content:' ';
    border-top:1px solid $brand-dark-color-2;
    position:absolute;
    top:8px;
    right:0px;
    width:130px;
  }

  &.white{

    &:before{
      border-top:1px solid #fff;
    }

    &:after{
      border-top:1px solid #fff;
    }
  }

}
.home-map{
  min-height: 500px;
  max-height: 600px;
}
