.search {

    .item {
        margin-bottom: 30px;

        .image {
            width: 100%;

            @include mq(tablet) {
                width: 40%;
            }

            display: inline-block;
            background-size: cover;
            background-position: center center;
            min-height: 240px;

            .legend {
                background-color: rgba(0, 0, 0, .3);
                color: #fff;
                position: absolute;
                bottom: 0;
                padding: 30px 20px;
                width: 100%;
                @include font(14,14,500);
            }
        }

        .content {
            display: inline-block;
            width: 100%;
            padding-top: 20px;

            @include mq(tablet) {
                width: 50%;
                padding-top: 0;
            }

            .title {
                padding: 0 20px 10px 20px;
                @include font(24,24,500);

                a {
                    color: #000;
                }
            }

            p {
                padding: 20px;
            }

            .link {
                text-transform: none;
                display: block;
                margin-top: 10px;
                color: $brand-color-1;
            }
        }


        .flip-container.disabled {

          overflow:hidden;
          cursor:pointer;
          pointer-events:none;

          &:after{
            content:'À débloquer';
            position:absolute;
            top:100px;
            left:-25%;
            width:150%;
            height:27px;
            color:#fff;
            background-color:$brand-color-2;
            @include font(19,27,100);
            text-transform:uppercase;
            @include rotate(-17deg);
          }

          .flip-container:hover{
            transform: none;
          }

          .background-hover{
            background-color:$brand-themes-disabled;
            opacity:0.85;
          }

        }

        .background-hover{
          display:block;
          position:absolute;
          left:0px;
          width:100%;
          height:40%;
          bottom:0px;
          z-index:20;
          background-color:$brand-themes-hover;
          opacity:0.5;
          background-position: center;
        }

        .flip-container.selected {
          .background-hover{
            background-color:$brand-themes-selected;
          }

          .background-hover-turn{
            background-color:$brand-themes-selected;
          }
        }

        .background-hover-turn{
          display:block;
          position:absolute;
          top:0px;
          left:0px;
          width:100%;
          height:100%;
          z-index:20;
          background-color:$brand-color-3-hover-flipper;
          opacity:0.75;
          background-position: center;
        }

        .background-image{
          z-index:10;
          top:0px;
          height: 100%;
          background-position: center;
        }

        .icon{
          display:block;
          position:absolute;
          z-index:30;
          top:0px;
          left:0px;
          width:100%;
          height:60%;
          display:table;

          .icon-container{
            display:table-cell;
            vertical-align:middle;
            height:100%;

            i {
              color:#fff;
              @include font(50,50,100);
            }

          }
        }

        .grid-item-content{
          display:block;
          position:absolute;
          bottom:0px;
          left:0px;
          width:100%;
          z-index:30;
          color:#fff;
          height:100px;
          display:table;

          h3{
            display:table-cell;
            vertical-align: middle;

            @include font(16,18,700);
            padding: 0 20px;
            text-transform: capitalize;

            i{
              color:#fff;
              @include font(30,38,100);
              display:block;
            }
          }

          hr{
            width:117px;
            margin-bottom:36px;
            margin-top:6px;
          }

        }

        .grid-item-content-turn{
          display:block;
          position:absolute;
          top:0px;
          left:0px;
          width:100%;
          height:100%;
          z-index:30;
          color:#fff;
          padding:15px 20px 60px;

          h4{
            @include font(20,20,700);
            padding-bottom:5px;
          }

          p{
            @include font(13,16,400);
            font-style:normal;
            color:#fff;
          }

          .button-container{
            position:absolute;
            bottom:26px;
            padding:0 40px;
            left:0px;
            width:100%;

            .btn-primary{
              width:100%;
              min-width:auto;
              @include font(16,18,700);
              padding:10px;
              background-color:$brand-themes-button;
              border-radius: 0px;
            }
          }

        }
    }

    .paginator {
        text-align: center;
        margin-top: 20px;
        .pagination {
            .active {
                span {
                    background-color: #e20000;
                    color: #fff;
                    border-color: #e20000;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            a {
                color: #000;
            }
        }
    }
}
