
//MAIN VARIABLES

// Body
$body-bg: #f5f8fa;

// Layout colors
$brand-light-color-1: #f3f3f3;  //main gray
$brand-light-color-2: #9f9f9f;  //light orange
$brand-light-color-3: #f7bfa4;  //very light orange
$brand-light-color-4: #f5f2f0;  //thread-background 1
$brand-light-color-5: #eae3e0;  //thread background color 2
$brand-light-color-6 : #9f9f9f; //foter text

$brand-dark-color-1 : #cc5518; //orange dark
$brand-dark-color-2 : #9f9f9f; //text orange dark
$brand-dark-color-3 : #222222;  //footer dark brown

//$brand-dark-color-4 : #747474;  //Dark medium grey
//$brand-dark-color-5 : #424242;  //Dark grey
//$brand-dark-color-6 : #222222;  //Darker grey


$brand-color-1 : #e20000; //rouge
$brand-color-2 : #dcdcdc; //Light grey

$brand-color-3-hover-flipper : #024f83;


//themes

$header-decoration-color:$brand-color-1;
$login-button : $brand-color-1;
$login-button-hover : $brand-color-1;

$product-button : $brand-color-2;

$brand-product-hover : #9f9f9f;

$brand-themes-hover : #747474;
$brand-themes-disabled : #e0d5d0;
$brand-themes-selected : #ee956a;
$brand-themes-categories : $brand-color-1;
$brand-themes-button : #02395e;//$brand-color-1;
$brand-theme-question-button : #499997;

$categories-background : $brand-light-color-6;
$content-item-footer-background: $brand-light-color-4;

//user account
$brand-account-color-1: #024f83;//$brand-color-1; //name
$brand-account-color-2: $brand-light-color-2; //documents
$brand-account-color-3: $brand-color-2; //panier

$brand-account-color-4: #8dcdcc; //command
$brand-account-color-5: #a9d9d9; //credits
$brand-account-color-6: #dcdcdc;//$brand-light-color-3; //envelope
$brand-account-color-7: #9f9f9f; //referent

$brand-account-left: #024f83;
$brand-account-right: #ececec;
$brand-account-right-color: #747474;
$brand-account-input-border: #424242;

$background-image-color: #024f83;
$background-gradient-color-1: rgba(234,97,28,1);
$background-gradient-color-2: rgba(234,97,28,0);
$background-gradient-color-2-ie9 : '#0089817f';

$background-gradient-color-brown-1: rgba(156,122,105,1);
$background-gradient-color-brown-2: rgba(156,122,105,0);
$background-gradient-color-brown-2-ie9 : '#009c7a69';


$brand-font-1 : 'Quicksand', sans-serif;
$brand-font-2 : 'Open Sans', sans-serif;
