.fiche-produits-list {

  text-align:center;
  padding:40px 20px;

  h2 {
    color:$brand-color-1;
    margin:0;

    @include font(30,34,500);

    @include mq(tablet){
      @include font(37,42,500);
    }
  }

  .grid-item{
    height:226px;
    color:#fff;
    padding: 0 10px;
    margin-bottom:15px;

    a{
      color:#fff;
      display:block;
    }

    .grid-item-padding {
      height:226px;
      /*display:table;*/
      width:100%;
      @include round(18px);
      overflow:hidden;
    }


    .background-image{
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      background-position:center;
      background-size:cover;
      z-index:0;
    }

    .background-hover{
      @extend .background-image;
      background-color:rgba(0,0,0,0.3);
      top:0px !important;
      height:100% !important;
      z-index:10;
    }

    .grid-item-content{
      display:table;
      z-index:20;
      width:100%;
      height:226px;

      .grid-item-content-value{
        display:table-cell;
        z-index:20;
        vertical-align: middle;
      }

      h3 {
        @include font(25,30,700);
        padding:0 15px;
        margin-top: 5px;
      }

      hr{
        width: 110px;
        margin: 0 auto;
      }
    }
  }
}
