#table-orders_filter{
  text-align: right;

  .form-group {
    padding-left:10px;
  }

}

.modal-dialog {

  .btn {
    @extend .btn-secondary-2;
    @extend .btn-secondary-2.btn-sm;
    min-width:100px;
  }

  .btn-success {
    background-color:$brand-color-2;
    color:#fff;

    &:hover, &:focus, &:active, &:active:focus{
      background-color:$brand-color-2;
    }

    &:visited{
      background-color:$brand-color-2;
    }
  }

}



.pagination > li > a, .pagination > li > span {
  color: $brand-color-2;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $brand-color-2;
  border-color: $brand-color-2;
}

.dataTables_filter{
  text-align: right;
}

.select-all{
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: capitalize;

  &.selected{
    background-color:$brand-color-1;
    color:#fff;
  }
}

.dataTables_paginate{
  text-align: right;
}

.table > tfoot > tr > th {
    border-top: 2px solid #ddd;
}

.front-table {

  .odd{
    background-color:$brand-light-color-4;
  }

  .changed,.selected {
    background-color:$brand-account-color-6;
  }

  .btn-table {
    font-size: 14px;
    width: auto;
    min-width: auto;
    padding: 1px 12px;
    margin-bottom: 5px;

    &.color-danger {
      color:#ef6464;
      border-color:#ef6464;

      &:hover{
        color:#fff;
        background-color:#ef6464;
      }

    }

  }

  input{
    height: 35px;
    margin: 0 9px;
    width: 44px;

  }

  input[type="submit"]{
    height:auto;
  }

}
