.user-questions{

  .question {
    background-color:$brand-light-color-4;
    margin-bottom:7px;

    &:nth-child(even) {
      background-color:$brand-light-color-5;
    }

    .image {
      display:inline-block;
      width:60px;
      height:60px;
      @extend .rounded;
      position:absolute;
      z-index:0;
      left: 15px;
      top: 12px;
      background-size:cover;
    }




    &.nouveau {
      .image:after {
        content:' ';
        position:absolute;
        background-image:url('../images/front/nouveau-question.png');
        width:57px;
        height:57px;
        display:inline-block;
        z-index:10;
        top: 3px;
        right: -47px;
      }
    }

    .actions{
      position:absolute;
      top:0px;
      right:0px;
      width:130px;
      height: 90px;
      display:table;

      .actions-container{
        display:table-cell;
        vertical-align:middle;
      }

    }

    .content{
      padding:10px 135px;

      a {
        display:block;
      }

    }

    label{
      background-color:$brand-dark-color-2;
      color:#fff;
      text-transform:uppercase;
      @include font(10,12,700);
      padding:1px 4px;
      margin-bottom:0px;
    }

    h3{
      color:$brand-color-1;
      @include font(20,22,500);
      margin:0;
      padding-bottom: 2px;
      padding-top: 3px;
    }

    p{
      @include font(14,16,400);
      color:$brand-dark-color-2;
    }


  }

}

.load-more-container{
  padding:15px 0 50px;
  text-align:center;
}


.user-header {
  label{
    background-color:$brand-dark-color-2;
    color:#fff;
    text-transform:uppercase;
    @include font(12,14,700);
    padding:1px 4px;
    margin-bottom:0px;
    display:inline-block;
    margin-right:5px;
  }

  p{
    display:inline-block;
    @include font(14,16,400);
    color:$brand-dark-color-2;

  }
}

.thread-body{
  padding:0 50px;
}

.thread {

  margin-bottom:10px;

  .thread-content {
    @include font(14,16,400);
    color:$brand-dark-color-3;
    padding:15px 20px;
    background-color:$brand-light-color-4;
    min-height:70px;
  }

  .thread-header{
    color:$brand-dark-color-2;
    padding:10px 0;
  }

  .image {
    position:absolute;
    top: 42px;
    left: 20px;
    background-size:cover;
    display:inline-block;
    width:60px;
    height:60px;
    @extend .rounded;

  }

  &.other {
    .thread-content{
      background-color:$brand-light-color-5;
      margin-left:100px;
    }

    .btn-secondary-3 {
      margin-left:100px;
    }

  }

  .actions{
    position:absolute;
    top: -35px;
    right: 10px;
    z-index: 10;

    a.btn {
      min-width: auto;
    }

  }

}

.response-block{
  margin-top:20px;

  .response-message {

    .form-control::-webkit-input-placeholder { color: #b79e91; font-style:italic; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { color: #b79e91;font-style:italic; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { color: #b79e91;font-style:italic; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { color: #b79e91;font-style:italic; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { color: #b79e91;font-style:italic; }  /* Microsoft Edge */

    textarea {
      border:2px solid #e6deda;
      background-color:#fff;
      outline:none;
      border-radius:0px;
      box-shadow:none;
      color:$brand-dark-color-3;
      margin-bottom: 10px;
    }

    margin-bottom:10px;

  }

  .btn-link{
    background-color:$brand-dark-color-2;

    &:hover{
      text-decoration:none;
    }
  }

  .filename{
    line-height: 26px;
    padding-left: 8px;
  }

}
