.user-nav{

  background-color:$brand-dark-color-2;
  height:44px;

  .open-user-menu{
    position:absolute;
    top:15px;
    right:36px;
    z-index:100;
    color:#fff;
    cursor:pointer;

    @include mq(tablet){
      display:none;
    }
  }

  @extend .animate;

  ul{
    @extend .animate;
    opacity:0;
    @include mq(tablet){
      opacity:1;
    }
  }

  &.open{
    height:220px;
    ul {
      opacity:1;
    }

    @include mq(tablet){
      height:auto;
    }
  }

  ul{

    padding:20px 15px;
    @include mq(tablet){
      padding:0px 15px;
    }

    li{

      color:#fff;
      display:block;
      padding:4px 0;
      position:relative;

      @include mq(tablet){
        display:inline-block;
        padding:13px 0;
      }

      a{
        display:inline-block;
        color:#fff;
        @include font(15,16,100);
        padding:0 10px;
        border-right:none;

        @include mq(tablet){
          border-right:1px solid #fff;
          @include font(17,18,100);

        }

      }

      &:last-child{
        a{
          border-right:none;
        }
      }

      &:before{
        @extend .animate;

        content:' ';
        position:absolute;
        width:100%;
        height:6px;
        background-color:#e10f21;//$brand-color-2;
        bottom:-6px;
        opacity:0;
      }

      &:hover {
        &:before{
          @include mq(tablet){
              opacity:1;
          }
        }
      }

      &.active a{
        font-weight: 700;
        @include mq(tablet){
          font-weight:400;
        }
      }

       &.active:before {
        content:none;
        position:absolute;
        width:100%;
        height:6px;
        background-color:#e10f21;//$brand-color-2;
        bottom:-6px;
        opacity:1;

        @include mq(tablet){
          content:' ';
        }
      }

    }
  }
}

.user-sub-nav{

  @extend .user-nav;

  background-color:#fff;
  height: 44px;
  border-bottom:1px solid $brand-light-color-6;

  ul li {
    color:$brand-dark-color-2;

      a {
        color:$brand-dark-color-3 ;
        border-right:1px solid $brand-dark-color-2;
      }
  }

}

.breadcrumbs-container{



  .breadcrumb{
    background-color:transparent;
    color:$brand-dark-color-2;
    font-family:$brand-font-2;

     margin-top: 20px;
     margin-bottom:0px;


    li a{
      color:$brand-color-2;
      @include font(13,16,700);
      font-family:$brand-font-2;
    }

    li.active {
      color:$brand-dark-color-2;
      @include font(13,16,400);
      font-family:$brand-font-2;
    }

  }
}

.user-header{

  text-align:center;

  h2{
    color:$brand-color-1;
    @include font(37,42,500);
    margin:0;
  }

}
