.user-product {

  h1 {

    color:$brand-color-1;
    padding-left: 34px;
    padding-bottom:20px;
    margin:5px 0 0;

    &:before{
      content:' ';
      position:absolute;
      top: 11px;
      left: 0px;
      width: 27px;
      height: 26px;
      background-repeat:no-repeat;
    }
  }

  .fiche-produit-price {

    color:#fff;
    position:relative;
    top: 0px;
    right:0px;
    width:90%;
    margin:0 auto;
    max-width: 320px;
    background-color:$brand-color-1;
    padding:20px 40px 30px;
    @include round(18px);
    text-align:center;
    z-index:10;

    @include mq(tablet){
      position:absolute;
      top: -115px;
      right:0px;
      width:320px;
      margin:auto;
    }

    p{
      padding:0;
      margin:0;
    }

    p.suptitle {
      @include font(13,14,400);
      font-family:$brand-font-2;
      padding-bottom:20px;
    }

    p.price {
      @include font(80, 80, 500);

    }

    p.title {
      @include font(27, 35, 500);
      padding-bottom:25px;
    }

    a.btn{
      display:inline-block;
      padding: 10px;
      margin-bottom:15px;
      min-width: 212px;

      &.order-product{
        background-color:$product-button;

        &:hover{
            background-color:$product-button;
        }

      }

      &.brown{
        @include font(16,18,500);
      }
    }



  }

  .fiche-produit-content{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:80px;
    min-height: 230px;

    @include mq(tablet){
      padding-right:360px;
      padding-bottom:0px;
    }

    p{
      font-family:$brand-font-2;
      @include font(14,17,400);
    }

  }


}
