.user-theme {

  .contents-message{
    text-align:center;
    @include font(15,30,100);
    font-style: italic;
  }

  #contents-grid.row{
    margin-left:0px;
    margin-right:0px;
  }

  .categories {
    background-color:$categories-background;
    @extend .animate;

    ul{

      padding:13px 10px;
      margin-bottom: 0px;

      @include mq(tablet){
        padding:13px 25px;
      }

      li{
        display:inline-block;
        margin-right:5px;

        @include mq(tablet){

          margin-right:10px;
        }

        a.btn-sm{
          background-color:$brand-dark-color-2;
          padding: 4px 10px;
          margin-bottom: 5px;
          font-size:12px;

          @include mq(tablet){
            font-size:14px;
          }

          &:hover{
            background-color:$brand-color-1;
          }
        }

        a.active.btn-sm{
          background-color:$brand-color-1;
        }
      }
    }

    &.open {

      background-color:$brand-color-1;

      li{
        a.btn-sm{
          background-color:$brand-account-color-2;
          color:#fff;

          &:hover{
            background-color:#fff;
            color:$brand-color-1;
          }
        }

        a.active.btn-sm{
          background-color:#fff;
          color:$brand-color-1;
        }
      }
    }

  }

  .sub-categories{
    background-color:$categories-background ;


    ul{

      padding:13px 10px;
      margin-bottom: 0px;

      @include mq(tablet){
        padding:13px 25px;
      }

      li{
        display:inline-block;
        margin-right:5px;

        @include mq(tablet){

          margin-right:10px;
        }

        a.btn-sm{
          background-color:$brand-dark-color-2;
          padding: 4px 10px;
          margin-bottom: 5px;
          font-size:12px;

          @include mq(tablet){
            font-size:14px;
          }

          &:hover{
            background-color:$brand-color-1;
          }
        }

        a.active.btn-sm{
          background-color:$brand-color-1;
        }
      }
    }
  }

  .filters {

    color:$brand-dark-color-2;
    text-align:right;

    ul{
      padding:13px 10px 8px;
      margin-bottom: 0px;
      display: inline-block;
      border-bottom: 1px solid $categories-background;

      @include mq(tablet){
        padding:13px 25px 8px;
      }

      li{
        display:inline-block;
        padding-right:3px;

        @include mq(tablet){
          padding-right:3px;
          padding-right:25px;
        }

        label {
          @include font(11,13,400);

          @include mq(tablet){
            @include font(14,15,400);
          }
        }

        &:first-child{
          @include font(11,15,700);
          padding-right: 3px;

          @include mq(tablet){
              padding-right:30px;
              @include font(13,15,700);
          }

        }

        input[type="checkbox"]{
          vertical-align: top;
        }

      }
    }

  }

  .contents-container {

    padding:30px 0 50px;

    .content-item {
      /*padding:17px;*/
      background-color:$categories-background;
      vertical-align:top;
      margin-bottom: 30px;

      .image{
        position:absolute;
        width:115px;
        height:100%;
        top:0px;
        left:0px;
        background-size:cover;
        background-position:center center;
        display: inline-table;
        height: 140px;

        i.icon{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 70px;
          color:$brand-dark-color-2;
        }

      }
      .item-content{
        margin-left:290px;/*115px;*/
        padding:7px 10px;
        height: 140px;

          background-color:#fff;
          /*opacity:0.6;*/


        h2{
          @include font(18,24,700);
          color:$brand-color-1;
          padding:0;
          margin:0;
          margin-bottom:15px;

        }

        p{
          @include font(13,15,400);
          font-family:$brand-font-2;
        }

      }

      .content-item-footer{
        background-color:$content-item-footer-background;
        color:#747474;/*#fff;*/
        height:40px;
        padding:5px 10px;

        p{
          font-family:$brand-font-2;
          @include font(12,20,100);
          font-style:italic;
          padding: 0;
          margin: 0;
          line-height: 29px;
        }

        a{
          position:absolute;
          top: 7px;
          right: 13px;
        }

      }


    }

    .see-more-container{
      text-align:center;
    }

  }

  .question {
    background-color:$brand-color-2;
    color:#fff;
    min-height:240px;

    .horizontal-inner-container{
      padding:15px 10px;

      @include mq(tablet){
        padding:15px 100px;
      }
    }

    .expert {
      width:100%;
      position:relative;
      margin:0 auto;
      top:5px;
      left:0px;
      padding: 0 15px;
      padding-bottom:25px;
      text-align:center;
      border-right:none;

      @include mq(tablet){
        width:200px;
        position:absolute;
        margin:auto;
        border-right:1px solid #8bcccb;
        padding-bottom:15px;
        left:-30px;
      }


      p{
        @include font(16,18,400);
        font-family:$brand-font-2;
      }

      .image{
        position:relative;
        width:120px;
        height:120px;
        @extend .rounded;
        top:0px;
        margin: 0 auto;
        margin-bottom:5px;



        &:before{
          content: ' ';
          background-image:url('../images/front/question-decoration.png');
          position: absolute;
          top: 0;
          left: -30px;
          width:61px;
          height:61px;

        }

      }

    }

    form.question-form {

      padding-left:0px;

      @include mq(tablet){
        padding-left:20px;
      }

      p {
        @include font(20,22,500);
      }

      textarea {
        height:138px;
        @include round(18px);
        box-shadow: none;
        margin-bottom:10px;
      }

      input {
        min-width:156px;
        background-color:$brand-theme-question-button;
        font-size:14px;
        margin: 0 auto;
        display: block;
      }
    }

    .question-container {
      padding-left:0px;

      @include mq(tablet){
        padding-left:200px;
      }
    }
  }
}



.decoration-icon {
  max-width: 340px;
  border:none;
  position:relative;

  margin: 20px auto;
  padding: 10px 0;

  i{
    font-size: 40px;
    line-height: 0px;
  }


  &:before{
    content:' ';
    border-top:1px solid #fff;
    position:absolute;
    top:8px;
    left:0px;
    width:130px;
  }

  &:after{
    content:' ';
    border-top:1px solid #fff;
    position:absolute;
    top:8px;
    right:0px;
    width:130px;
  }
}
