.user-basket {
  
  .basket-item {
    
    margin-top: 20px;
    margin-bottom: 20px;
    height:90px;
    
    .basket-image{
      position:absolute;
      top:0px;
      left:20px;
      width: 140px;
      height: 90px;
      display:inline-block;
      background-size:cover;
      background-position:center center;
    }
    
    .basket-content{
      
      padding-left:180px;
      
      @include font(18,90,400);
      
      .price {
        @include font(22,90,400);
        padding-left:20px;
      }
    }
    
    .basket-actions {
      position:absolute;
      top:30px;
      right:20px;
      height:90px;
    }
    
  }
  
  .credits {
    text-align:center;
    @include font(16,18,400);
    margin:20px auto;
  }
  
  .submit-container {
    text-align:center;
    margin-bottom:40px;
  }
  
  .payment-options{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 400;
    
    label{
      font-weight:400;
      max-width: 90%;
    }
  }
  
  .body-small {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
    
    h3{
      margin-bottom:30px;
    }
    
  }
  
  
}
