

/********  COMMONS  ******+*/
  .flash-msg-list{
    margin:0 0 15px; padding:0;
   .flash-msg{
      background-color:$brand-dark-color-2;
      padding:10px;
      text-align:center;
      @include font(16,16,500);
      color:white;
      margin-top:10px;

      span{
        @include font(16,16,100);
      }
   }
   .flash-msg.success{
    background-color:$brand-color-2;
   }
  }


  .notifications{
    margin:0 0 15px; padding:0;
    .notification{
      background-color:$brand-light-color-2;
      padding:0 10px 10px;
      text-align:center;
      @include font(16,16,500);
      color:white;
      margin-top:10px;

      span{
        @include font(16,16,100);
      }
      h2{ margin:0; padding:0; color:white;}

      .exclamation{
        font-size:32pt;
      }
      .read-notification{
        background:$brand-light-color-2;
        border:1px white solid;
        color:white;
        border-radius:0px;
        bottom:7px;
        padding:8px 15px;
        @include font(16,16,400);


      }
   }
   .flash-msg.success{
    background-color:$brand-color-2;
   }
  }

.user-account{

  .row{
    @include mq($until:tablet){
      margin-right: 0px;
    }
  }


   .section-title{

      h2{
        color:$brand-color-1;
        text-align:center;
      }
    }



  /********  USER ACCOUNT INFO  ******+*/




  .user-account-index{
    text-align:center;
    margin-bottom:50px;

    .row{
      margin:0;
      @include mq(tablet){
        margin:14px 0;
      }
    }
    .row .row{ margin:0; }
    .row .col{padding:0 7px;}
    .row .col .col{padding:0;}


    .icon{font-family: 'icomoon' !important; font-size:32pt;}

    .frame a{
      color:white;
      display:block;
      width:100%;
      height:100%;
      max-height:100%;
      margin:0;
      text-decoration:none;
      pointer:cursor;
      h1,h2,h3,h4{margin:0; padding:0;}
    }


    .pane-button{
      color:white;
      border:1px white solid;
      border-radius:0px;
      position:absolute;
      bottom:7px;
      padding:8px 15px;
      overflow: hidden;
      white-space: nowrap;
      @include font(15,12,700);
      left: 50%;
      transform: translate(-50%, -50%);
      min-width:200px;
    }



    .frame {
        padding:10px 0 0;
        position:relative;
        .icon{ width:80px; height:80px; display:block; margin:auto; font-size:62pt; }
    }

    .frame-validation {
      background-color:$brand-dark-color-2;
      padding:10px;
      @include font(16,16,500);
      color:white;

      span{
        @include font(16,16,100);
      }


    }
    .frame-name {
      background-color:$brand-account-color-1;
      height:367px;
      padding-top:70px;

      a {

        h1{
          font-weight:400;
        }

        h2{
          font-size:32pt;
          margin-top:0px;
        }



      }
      a p{font-weight:100; margin-top:10px;}
    }
    .frame-documents {
      height:367px;
      background-color:$brand-account-color-2;
      padding-top:5px;
      color:#fff;

      a {
          width:auto;
          height:auto;
      }

      h3.docs-title{
         @include font(21,21,400);
         padding-bottom:10px;
      }
      ul{
        padding-left:30px;
        height: 184px;
        overflow:hidden;
      }
      ul li{
        text-align:left;
        @include font(12,12,400);
        text-decoration: underline;
        padding-bottom:4px;

        a{
          height:auto !important;
        }
      }
    }
    .frame-questions {
      background-color:$brand-account-color-1;
      height:175px;
    }
    .frame-panier {
      background-color:$brand-account-color-3;
      margin-top:0px;
      padding-top:22px;
      height:175px;

      @include mq(tablet){
        margin-top:15px;
      }
    }
    .frame-commands {
      padding-top:3px;
      background-color:$brand-account-color-4;
      height:165px;
      p{
        @include font(13,13,300);
      }
    }
    .frame-credits {
      padding-top:3px;
      background-color:$brand-account-color-5;
      height:165px;
      p{
        @include font(13,13,300);
      }
    }
    .frame-contacter {
      padding-top:18px;
      background-color:$brand-account-color-6;
      height:165px;
    }
    .frame-referent {
      background-color:$brand-account-color-7;
      height:165px;
      color:white;
      width:100%;
      padding-top:0;
          display: table;
        .inner-referent{
          display:table-cell;
          vertical-align: middle;

      }

      a{
        height:auto;
        width:auto;
      }

    }

     .frame-partner-name {
      background-color:$brand-account-color-1;
      height:367px;
      padding-top:70px;

      a {

        h1{
          font-weight:400;
        }

        h2{
          font-size:32pt;
          margin-top:0px;
        }



      }
      a p{font-weight:100; margin-top:10px;}
    }

    .frame-utilisateurs{
      height:367px;
      background-color:$brand-account-color-2;
      padding-top:20px;
      .toparea{
        display:block; width:auto; height:137px;;
      }
      .icon{ font-size:85px;}
      ul{
        padding:0;
        margin:auto 35px;
        li{
          text-align:center;;
          list-style:none;
          padding-bottom:8px;
          .list-button{
              color:white;
              border:1px white solid;
              border-radius:0px;
              @include font(13,12,700);
              bottom:7px;
              padding:8px 5px;
              overflow: hidden;
              white-space: nowrap;
              margin:0;
              text-decoration:none;
          }
        }
      }
    }


    .frame-customization {
      background-color:$brand-account-color-1;
      height:175px;

      .icon{ padding-top:12px;font-size:85px;}


    }
    .frame-themes {
      background-color:$brand-account-color-7;
      height:165px;
      color:white;
      width:100%;
      padding-top:0;
       .inner-themes{
          display:table-cell;
          vertical-align: middle;

      }
      .icon{ padding-top:20px;font-size:85px;}


    }

    .frame-partner-credits{
      padding-top:5px;
      background-color:$brand-account-color-5;
      height:165px;
      .icon{ padding-top:0; font-size:85px;}
      p{
        @include font(13,14,500);
      }
    }
    .frame-contact-partner{
      padding-top:3px;
      background-color:$brand-account-color-6;
      height:165px;
      p{
        @include font(13,13,300);
      }
      .icon{ font-size:85px;}
    }
  }

  /**********+ INFO *****/

  .user-account-info{

     .col-md-4{ padding-right:0; }
     .col-md-8{ padding-left:0; }

    .left-frame{
      background: $brand-account-left;
      color:white;
      height:345px;
      float:left;
      display: table;
      margin-bottom:0px;
      width:100%;
      text-align:center;

      @include mq(tablet){
        margin-bottom:80px;
      }

      .inner-data{
        display: table-cell;
        vertical-align: middle;
      }

      .firstname{

        @include font(50,30,400);

      }
      .lastname{
         @include font(50,30,600);
         padding-bottom:20px;
      }
      .address{
        @include font(24,24,100);
      }
      .pcode_city{
        @include font(24,24,100);
      }
      .phone{
        @include font(24,24,100);
      }
      .email{
        @include font(24,24,100);
      }
      .brandname{
         @include font(20,30,600);
         padding-bottom:20px;
      }
    }
    .form-frame{
      color: $brand-account-right-color;
      background:$brand-account-right;
      float:left;
      width:100%;
      height:375px;
      padding:20px;
      margin-left: 15px;

      @include mq(tablet){
        height:345px;
        margin-left: 0px;
      }




      .col-xs-6:first-child{padding-right:6px;}
      .col-xs-6:last-child{padding-left:6px;}


      legend{
          margin-bottom:10px;
          @include font(23,23,300);
          color: $brand-account-right-color;
          border:0;
      }
      .form-group{
        margin:0;
      }
      label{margin:10px 0 5px; padding:0 0 0 5px; font-family:Verdana;
        @include font(13,10,500)
      }

      input{
        border-radius:0;
        border:1px $brand-account-input-border solid;
        margin:0 3px
      }
      .has-error input { border:1px red solid;}
     /* input:focus{ box-shadow:inset 0 0px 4px  #9e7b68} */

      button{
        background:$brand-color-1;
        border:0;
        display:block;
        border-radius:0px;
        color:white;
        margin:13px auto 15px;
        padding:4px 20px;
        cursor:pointer;
        @include font(16,20,200);
      }
    }


  }

  .user-account-credits{

    .form-container{
      p{
        text-align:center;
        @include font(16,20,100);
        margin-bottom:10px;
      }

      .current-credits-text{
        text-align:center;
        @include font(20,24,700);
        margin-bottom:5px;
      }

      .futur-solde{
        text-align:center;
        @include font(18,24,400);
        margin-bottom:40px;
      }

      .buttons-container {
        margin-top:20px;
        margin-bottom:50px;

        a.btn-secondary-2{
          @include font(20,20,500);
          text-transform:capitalize;
        }

        a.btn-primary{
          @include font(20,20,500);
          text-transform:capitalize;
        }

      }

    }

  }

  /**********+ THEMES ********/

  .block-2{

    .grid-item .flip-container.disabled{
      cursor:pointer;
      pointer-events: auto;

      &:hover{
        background-color:$brand-themes-selected;
      }
    }
  }


  .partner-roles-area{
    .perm{
      text-align:center;
      min-height:275px;
      background-color:$brand-account-color-5;

      h2{ margin:0; padding-top:100px;color:white;}
      p{  padding:0 10px; color:white; min-height:54px; }
    }

    .perm.enabled{
      background-color:$brand-account-color-2;
     }

    .permission-users{

    }

    .permission-credits{

    }

    .permission-forfaits{

    }


  }

}
