.user-content {

  h1 {

    color:$brand-color-1;
    padding-bottom:20px;
    margin:5px 0 0;

    &:before{
      content:' ';
      position:absolute;
      top: 11px;
      left: 0px;
      width: 27px;
      height: 26px;
      background-repeat:no-repeat;
    }
  }

  .fiche-produit-content{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:80px;

    p{
      font-family:$brand-font-2;
      @include font(14,17,400);
    }

  }


}
